.dash {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.border {
    width: 30%;
    padding: 20px;
    border-radius: 15px;
}

.border b{
    font-size: 24px;
}

.border p {
    font-size: 20px;
}

.link{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
}